body {
    height: 100%;
    margin: 0px;
}

table {
    margin: 0;
    padding: 0;
}

table.tableStyle {
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    border: 0px;
    border-collapse: collapse;
    width: 100%;
    vertical-align: top;
}

td, tr {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-collapse: collapse;
    font-size: 11px;
}

img {
    border: 0px;
}

.topAlign {
    vertical-align: top;
}

.bottomAlign {
    vertical-align: bottom;
}

.middleAlign {
    vertical-align: middle;
}

.leftHAlign {
    text-align: left;
}

.rightHAlign {
    text-align: right;
}

.centerHAlign {
    text-align: center;
}

.pointer {
    cursor: pointer;
    cursor: hand;
}

.loginTable {
    padding: 60px 0px 0px 0px;
    text-align: center;
}

.loginBox {
    width: 238px;
    padding: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    border-spacing: 0px;
    border: 0px;
    border-collapse: collapse;
}

.thardNavContainer {
    width: 144px;
}

.mainContainer {
    padding: 0px 10px 10px 10px;
}

.detailsAreaContainer {
    width: 590px;
}

.detailsContainer {
    width: 435px;
}

.logoNetGear {
    background: url('../../images/main_logo.gif') no-repeat top left;
    height: 50px;
    width: 150px;
}

.vertionImage {
    background: url('../../images/product_logo.gif') no-repeat top right
}

.vertionImage2 {
    background: url('../../images/product_logo_1.gif') no-repeat top right
}

.leftEdge {
    background: url('../../images/background_left.gif') repeat-y top left;
    width: 11px;
    height: 30px;
}

.rightEdge {
    background: url('../../images/background_right.gif') repeat-y top right;
    width: 11px;
}

.leftInside {
    background: url('../../images/background_inside_left.gif') repeat-y top left;
    width: 8px;
}

.leftEdgeFooter {
    background: url('../../images/footer_bottom_left.gif') no-repeat top left;
    width: 11px;
}

.rightEdgeFooter {
    background: url('../../images/footer_bottom_right.gif') no-repeat top right;
    width: 11px;
}

.leftBodyNotch {
    background: url('../../images/body_left_notch.gif') no-repeat top left;
    width: 11px;
}

.leftNextBodyNotch {
    background: url('../../images/body_left_next_notch.gif') no-repeat top left;
    width: 12px;
}

.middleBodyNotch {
    background: url('../../images/body_middile_notch.gif') repeat-x top left;
}

.rightBodyNotch {
    background: url('../../images/body_right_notch.gif') no-repeat top right;
    width: 11px;
}

.rightNextBodyNotch {
    background: url('../../images/body_right_next_notch.gif') no-repeat top right;
    width: 12px;
}

.topBottomDivider {
    background: url('../../images/footer_middle_top_divider.gif') repeat-x top left;
}

.leftBottomDivider {
    background: url('../../images/footer_left_bottom.gif') no-repeat top left;
    width: 11px;
}

.middleBottomDivider {
    background: url('../../images/footer_middle_bottom.gif') repeat-x top left;
}

.rightBottomDivider {
    background: url('../../images/footer_right_bottom.gif') no-repeat top right;
    width: 11px;
}

.leftCopyrightFooter {
    background: url('../../images/footer_left_copyright.gif') no-repeat top left;
    width: 11px;
}

.middleCopyrightDivider {
    background: url('../../images/footer_copyright_new.gif') repeat-x top left;
    height: 21px;
    padding: 2px 0px 0px 9px;
}

.rightCopyrightFooter {
    background: url('../../images/footer_right_copyright.gif') no-repeat top right;
    width: 11px;
}

.thardNavContainerTopLeftImg {
    background: url('../../images/left_nav_top_left.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerTopMiddleImg {
    background: url('../../images/left_nav_top_middle.gif') repeat-x top left;
}

.thardNavContainerTopRightImg {
    background: url('../../images/left_nav_top_right.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerSecondTopRightImg {
    background: url('../../images/left_nav_right_tile.gif') repeat-y top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerSecondTopLeftImg {
    background: url('../../images/left_nav_left_tile.gif') repeat-y top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerBottomLeftImg {
    background: url('../../images/left_nav_bottom_right.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerBottomMiddleImg {
    background: url('../../images/left_nav_bottom_middle.gif') repeat-x top left;
}

.thardNavContainerBottomRightImg {
    background: url('../../images/left_nav_bottom_left.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.navTopCell {
    padding: 0px 1px 0px 0px;
    text-align: center;
}

.navCell {
    padding: 0px 6px 0px 6px;
    text-align: center;
}

.leftNavArrowCell {
    padding: 6px 2px 2px 2px;
}

.leftNavArrowCellMultLine {
    padding: 7px 4px 2px 2px;
}

.helppageattributes {
}

div.mainBody {
    width: 98%;
    height: 100%;
}

div.helpBody {
    width: 100%;
    height: 15px;
    padding-left: 20px;
    padding-top: 1px;
}

div.helpContent {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-left: 20px;
    padding-top: 10px;
}

div.messageBody {
    position: relative;
    width: 532px;
    height: 310px;
    overflow: auto;
}

#blueLink10 A:hover, #blueLink10 A:hover, #blueLinkBold10 A:hover, #blueNavLink A:hover, #blueLink12 A:hover, #orangeLink10 A:hover, #orangeLink A:hover, #blueLink A:hover {
    text-decoration: underline;
}

#blackLink10 A, #blueLink10 A, #orangeLink10 A, #blueLinkBold10 A, #blueLink A, #orangeLink11 A, #orangeLink A {
    text-decoration: none;
}

#blackLink11 A:hover, #blueLink11 A:hover, #blueLinkBold11 A:hover, #blueNavLink A:hover, #blueLink12 A:hover, #orangeLink A:hover, #blueLink A:hover {
    text-decoration: underline;
}

#blackLink11 A, #blueLink11 A, #orangeLink11 A, #blueLinkBold11 A {
    text-decoration: none;
}

#blueNavLink A, #blueLink12 A {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
}

.helppageattributes {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 12px;
}

#blueLinkBold10 A {
    font-weight: bold;
}

.footerBody {
    padding: 9px 18px 0px 0px;
    width: 100%;
    height: 27px;
    text-align: right;
}

.subSectionTabTopLeft {
    background: url('../../images/sub_section_grey_tab_top_left.gif') no-repeat top left;
    height: 20px;
    padding: 0px 0px 0px 23px;
    vertical-align: top;
    font-size: 1px;
}

.subSectionTabTopRight {
    background: url('../../images/sub_section_grey_tab_top_right.gif') no-repeat top right;
    padding: 4px 4px 4px 0px;
    height: 20px;
    vertical-align: middle;
    text-align: right;
    font-size: 1px;
}

.subSectionTabTopShadow {
    background: url('../../images/sub_section_grey_tab_shadow.gif') repeat-x top left;
    font-size: 1px;
    height: 2px;
    vertical-align: top;
}

.subSectionBodyDot {
    background: url('../../images/sub_section_dots.gif') repeat-y top left;
    font-size: 1px;
}

.subSectionBodyDotRight {
    background: url('../../images/sub_section_dots.gif') repeat-y top right;
    font-size: 1px;
}

.subSectionBodyWide {
    background: url('../../images/sub_section_side_dots_wide.gif') repeat-y top left;
    padding: 0px;
}

.subSectionBottom {
    background: url('../../images/sub_section_bottom_dots.gif') repeat-x top left;
    height: 2px;
    font-size: 1px;
}

.messageTableHeader, .messageTableHeaderBorder {
    text-align: left;
    padding: 3px 5px 2px 7px;
}

.messageTableHeaderBorderCenter {
    text-align: center;
    padding: 3px 5px 2px 7px;
}

.messageTableGrey, .messageTableGreyBorder, .messageTableWhite, .messageTableWhiteBorder, .orangeBg, .cosTableHeaderText {
    text-align: left;
    padding: 3px 5px 2px 7px;
}

.cosTableHeader {
    text-align: left;
    padding: 4px 5px 3px 1px;
}

.cosMessageTableGrey, .cosMessageTableWhite {
    text-align: left;
    padding: 1px 5px 0px 1px;
}

.messageTableGreyBorder, .messageTableHeaderBorder, .messageTableHeaderBorderCenter {
    border-left: 1px solid;
}

.messageTableHeaderVerticalBorder {
    border-bottom: 1px solid;
}

.messageTableHeaderVerticalTopBorder {
    border-top: 1px solid;
}

.messageTableGrey, .messageTableWhite {
    border: 0px;
}

.messageTableWhiteBorder {
    border-left: 1px solid;
}

.padding2 {
    padding: 2px;
}

.padding3 {
    padding: 3px;
}

.padding4 {
    padding: 4px;
}

.padding5 {
    padding: 5px;
}

.padding5Left {
    padding-left: 5px;
}

.padding1Top {
    padding-top: 1px;
}

.paddingsubSectionBodyLogin {
    padding: 8px 1px 2px 5px;
    text-align: center;
}

.paddingsubSectionBodyNone {
    padding: 5px 1px 6px 5px;
    text-align: center;
}

.paddingsubSectionBody {
    padding: 2px 1px 2px 5px;
    text-align: center;
}

.paddingsubSectionBodyList {
    padding: 3px 1px 3px 5px;
    text-align: center;
}

.paddingsubSectionBodyRadio {
    padding: 3px 1px 4px 5px;
    text-align: center;
}

.paddingsubSectionBodyRadioIP {
    padding: 3px 1px 4px 0px;
    text-align: right;
}

paddingsubSectionBodyWide {
    padding: 0px 0px 0px 0px;
}

.padding2Top {
    padding-top: 2px;
}

.padding2TopBottom {
    padding-bottom: 2px;
}

.padding4Top {
    padding-top: 4px;
}

.padding5Top {
    padding-top: 5px;
}

.padding7Top {
    padding-top: 7px;
}

.padding5TopBottom10Right {
    padding: 5px 23px 5px 0px;
    text-align: right;
}

.padding5LeftRight {
    padding: 0px 6px 0px 6px;
}

.spacer1Percent {
    width: 1%;
}

.spacer2Percent {
    width: 2%;
}

.spacer3Percent {
    width: 3%;
}

.spacer5Percent {
    width: 5%;
}

.spacer8Percent {
    width: 8%;
}

.spacer10Percent {
    width: 10%;
}

.spacer12Percent {
    width: 12%;
}

.spacer13Percent {
    width: 13%;
}

.spacer14Percent {
    width: 14%;
}

.spacer15Percent {
    width: 15%;
}

.spacer18Percent {
    width: 18%;
}

.spacer19Percent {
    width: 19%;
}

.spacer20Percent {
    width: 20%;
}

.spacer22Percent {
    width: 22%;
}

.spacer25Percent {
    width: 25%;
}

.spacer30Percent {
    width: 30%;
}

.spacer31Percent {
    width: 31%;
}

.spacer40Percent {
    width: 40%;
}

.spacer45Percent {
    width: 45%;
}

.spacer47Percent {
    width: 47%;
}

.spacer48Percent {
    width: 48%;
}

.spacer50Percent {
    width: 50%;
}

.spacer54Percent {
    width: 54%;
}

.spacer55Percent {
    width: 55%;
}

.spacer58Percent {
    width: 58%;
}

.spacer61Percent {
    width: 61%;
}

.spacer75Percent {
    width: 75%;
}

.spacer70Percent {
    width: 70%;
}

.spacer80Percent {
    width: 80%;
}

.spacer85Percent {
    width: 85%;
}

.spacer89Percent {
    width: 89%;
}

.spacer90Percent {
    width: 90%;
}

.spacer92Percent {
    width: 92%;
}

.spacer95Percent {
    width: 95%;
}

.spacer96Percent {
    width: 96%;
}

.spacer98Percent {
    width: 98%;
}

.spacer99Percent {
    width: 99%;
}

.spacer100Percent {
    width: 100%;
}

html > body .spacer100Percent {
    width: 100%;
}

.spacerHeight5 {
    height: 5px;
}

.spacerHeight9 {
    height: 9px;
}

.spacerHeight21 {
    height: 21px;
}
.spacerHeight12 {
    height: 12px;
}
.input, .inputDisabled, .select {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
}

form, checkbox, radio {
    margin: 0px;
    padding: 0px;
}

.input, .inputDisabled {
    padding-left: 4px;
}

.font10, .font10Bold, .blue10, .blue11, .white10, .white10Bold, .white11Bold, .font11, .font11Bold, .font12BoldBlue, .font15Bold, .orange11, .orange10Bold {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

.blue10Bold {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    font-weight: bold;
}

.fontHelpBold {
    font-weight: bold;
}

.font10, .font10Bold, .blue10, .orange10Bold, .white10, .white10Bold {
	font-size: 10px;
}

.font10Bold, .orange10Bold, .white10Bold {
    font-weight: bold
}

.orange11, .blue11 {
    font-size: 11px;
}

.font11Bold, .white11Bold {
    font-size: 11px;
    font-weight: bold;
}

.font12BoldBlue {
    font-size: 12px;
}

.font12BoldBlue {
    font-weight: bold;
}

.font14 {
    font-size: 14px;
}

.font15Bold {
    font-weight: bold;
}

.font15Bold {
    font-size: 15px;
}

.whiteSpace {
    white-space: nowrap;
}

.cosMessageTableWhite, .messageTableWhite, .messageTableWhiteBorder {
    background-color: #FFFFFF;
}

.cosMessageTableGrey, .messageTableGrey, .messageTableGreyBorder {
    background-color: #CCCCCC;
}

.cosTableHeader, .cosTableHeaderText, .cosTableHeaderBorderText, .messageTableHeader, .messageTableHeaderBorder, .messageTableHeaderBorderCenter, .background-blue {
    background-color: #46008F;
}

.messageTableGreyBorder, .messageTableHeaderBorder, .messageTableHeaderVerticalBorder, .messageTableHeaderVerticalTopBorder {
    border-color: #FFFFFF;
}

.messageTableWhiteBorder {
    border-color: #CCCCCC;
}

.orangeBg, .selectedRow {
    background-color: #FFA400;
}

.footerBody {
    background-color: #BABABA;
}

.subSectionTabTopLeft, .subSectionTabTopRight {
    background-color: #D9D9D9;
}

.leftNavBg {
    background-color: #D9D9D9;
}

.blue10, .blue11, .font12BoldBlue, .font15Bold, .bluelink {
    color: #46008F;
}

.grey10 {
    color: #666666;
}

.orange10Bold, .orange11, .orangeLink {
    color: #FFA400;
}

.white10, .white10Bold, .white11Bold {
    color: #FFFFFF;
}

#blackLink10 A, #blackLink10 A:hover {
    color: #000000;
}

#blueLink10 A, #blueLink10 A:hover, #blueLink11 A, #blueLink11 A:hover, #blueLink12 A, #blueLink12 A:hover, #blueLinkBold10 A, #blueLinkBold11 A, #blueLink A, .blueLink A {
    color: #46008F;
}

#blueNavLink A {
    color: #FFFFFF;
}

#orangeLink10 A, #orangeLink A, #orangeLink11 A, .orangeLink A {
    color: #FFA400;
}

#orangeLink10 A:hover, #orangeLink A:hover, .orangeLink A:hover, #orangeLink11 A:hover {
    color: #FFA400;
}

#blueNavLink A:hover {
    color: #FF9934;
}

table {
    color: #000000;
}

checkbox, radio {
    border: #7FB2E5 0px solid;
    color: #000000;
}

.input, .inputDisabled, .select {
    color: #000000;
}

.input, .inputDisabled {
    border: 1px solid #7FB2E5;
}

.inputDisabled {
    border: 1px solid #7FB2E5;
    background-color: #EEEEEE;
}

.select {
    border: 1px solid #7FB2E5;
    color: #000000;
}

.popupHeader, .helpBody {
    background-color: #46008F;
}

.white11Bold {
    color: #FFFFFF;
}

.font10Bold, .font11, .font11Bold {
    color: #000000;
}

.font11Bold {
    font-weight: bold;
}
