TABLE, TBODY {
    border-collapse: collapse;
    border-spacing: 0px;
}

a {
    outline: none;
}
/* start definition for primary tabs */
ul.tabs {
    list-style-type: none;
}

ul.tabs li {
    float: left;
    background: url(../../images/tab_r.png) no-repeat right top;
    margin-right: 3px;
}

ul.tabs li a {
    display: block;
    padding: 6px 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666f74;
    font-weight: bold;
    text-decoration: none;
    background: url(../../images/tab_l.png) no-repeat left top;
}

ul.tabs li.Active {
    background: url(../../images/tab_r_A.gif) no-repeat right top;
}

ul.tabs li.Active a {
    background: url(../../images/tab_l_A.gif) no-repeat left top;
	color: #FFFFFF;
}

ul.tabs li a:hover {
    color: #FFA400;
}
/* start definition for inline tabs */
ul.inlineTabs {
    list-style-type: none;
    margin: 0px;
    padding-bottom: 29px;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 10px;
}

ul.inlineTabs li {
    float: left;
    background: url(../../images/inline_tab_r.png) no-repeat right top;
    margin-right: 3px;
}

ul.inlineTabs li a {
    display: block;
    padding: 8px 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666F74;
    font-weight: bold;
    text-decoration: none;
    background: url(../../images/inline_tab_l.png) no-repeat left top;
}

ul.inlineTabs li.Active {
    background: url(../../images/inline_tab_r_A.png) no-repeat right top;
    border-bottom: 1px solid #F2F2F2;
}

ul.inlineTabs li.Active a {
    background: url(../../images/inline_tab_l_A.png) no-repeat left top;
    border-bottom: 1px solid #F2F2F2;
}
/* end definition for primary tabs */
/* start definition for inline Sub-level tabs */
ul.inlineSubTabs {
    float: left;
    list-style-type: none;
    margin: 0px;
    white-space: nowrap;
	width: 100%;
}

ul.inlineSubTabs li {
    padding: 5px 5px 5px 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    white-space: nowrap;
    float: left;
    background: #F2F2F2;
    border-bottom: 1px solid #CCCCCC;
}

ul.inlineSubTabs li.Active {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom: 0px;
}
/* end definition for primary tabs */
/* start definition for second level menu */
ul.dataheader {
    list-style-type: none;
    white-space: nowrap;
    height: 24px;
    vertical-align: middle;
    padding: 5px 0px 5px 0px;
}

ul.dataheader li {
    background: url(../../images/datahead_right.gif) no-repeat right top;
}

ul.dataheader li span {
    display: block;
    height: 23px;
    vertical-align: middle;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    white-space: nowrap;
    background: url(../../images/datahead_left.gif) no-repeat left top;
}

table.dataheader {
    border-collapse: collapse;
    overflow: hidden;
}

td.dataheader {
    width: 100%;
    white-space: nowrap;
    background-color: #C6C6C6;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 0px;
}

td.dataheaderRight {
    padding: 4px;
    color: #FFA400;
    background: url(../../images/datahead_right.png) no-repeat right top;
}

td.dataheaderAction {
    padding-left: 5px;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    width: 1%;
    color: #FFA400;
    background-color: #C6C6C6;
}

td.dataheaderLeft {
    padding: 5px;
    overflow: hidden;
    width: 17px;
    color: #FFFFFF;
    background: url(../../images/datahead_left.png) no-repeat left top;
    padding-right: 3px;
    padding-left: 4px;
    padding-top: 0px;
    padding-bottom: 3px;
}
/* end definition for primary tabs */
/* start definition for second level menu */
td.submenu {
    height: 14px;
    background-color: #46008F;
    border-spacing: 0px;
    padding-top: 2px;
    overflow: visible;
    text-align: left;
    font-size: 10px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 100%;
}

div.submenu {
    text-align: left;
    overflow: hidden;
    vertical-align: baseline;
    height: 17px;
    border: 0px;
    color: #ffffff;
    font-size: 10px;
    margin-left: 2px;
}

div.submenu ul {
	white-space: nowrap;
}

div.submenu ul li {
    list-style-type: none;
    vertical-align: bottom;
	white-space: nowrap;
    font-size: 10px;
    float: left;
    height: 14px;
}

div.submenu ul li a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
	white-space: nowrap;
    text-decoration: none;
}
div.submenu ul li a.Active {
    color: #FFA400;
}

div.submenu ul li a:hover {
    color: #FFA400;
}

separatorImage {
    vertical-align: baseline;
    float: left;
}
/* start definition for second level menu */
Table.Main {
    margin: auto;
    overflow: auto;
    background-color: #FFA400;
    border-color: #CCCCCC;
    width: 100%;
    height: expression((parseInt(document.viewport.getHeight()))+'px');
	min-width: 800px;
	text-align: center;
	min-height: 568px;
	border: 1px solid #CCCCCC;
	border-top: 0px;
}

Table.Main TD {
    vertical-align: top;
    border-spacing: 0px;
}

Table.Main TD.actionbar {
    background-color: #666F74;
    overflow: hidden;
    text-align: right;
    height: 40px;
    vertical-align: bottom;
    padding-right: 30px;
}

Table.Data {
    background-color: #FFFFFF;
    width: 100%;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

Table.datablock TH {
    margin: 0px;
    padding: 0px;
}

div#datablock {
    height: expression((parseInt(getSize()[0]))+'px');
	min-height: 350px;
	margin: 10px;
	margin-top: 5px;
	padding-left: 0px;
	overflow: auto;
}

div#datablock * {
    text-align: left;
}

Table.datablock {
    width: 570px;
    _width: 100%;
    vertical-align: top;
    overflow: auto;
    border: 1px dotted #CCCCCC;
    border-top: 0px;
    padding: 10px;
}

td.separator {
    height: 22px;
}

div#spacer {
    width: 6px;
    overflow: hidden;
    float: left;
    height: 1px;
}

Table.datablockMain {
    border-collapse: collapse;
    overflow: auto;
    min-width: 426px;
    max-width: 600px;
    padding: 10px;
}

Table.datablockMain TBODY {
    border: 0px dotted #CCCCCC;
    border-top: 0px;
    padding: 10px;
}

.BlockHeader {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6em;
}

div#ActionBlock {
    text-align: left;
    height: 40px;
    float: bottom;
    margin: 0px 5px 5px 0px;
}

div#BlockContent {
    overflow: auto;
}

div#IncludeTabBlock {
    _width: 100%; /* IE6 hack to hide the overflow */
    z-index: 1;
    margin-top: -1px;
    padding: 10px;
    padding-top: 10px;
    white-space: nowrap;
    border: 1px solid #CCCCCC;
    border-top: 0px;
    background-color: #F2F2F2;
}

table.BlockContent {
    overflow: auto;
    width: 100%;
}

table.BlockContent TD, TH {
    overflow: auto;
    text-align: left;
    padding: 3px 5px 3px 10px;
}

table.inlineBlockContent {
    overflow: auto;
}

table.inlineBlockContent TD, TH {
    text-align: left;
    padding: 0px;
}

div#WirelessBlock {
    width: 100%;
    white-space: nowrap;
}

div#InlineTableBlock {
    overflow: auto;
    border-top: 0px dotted #CCCCCC;
    border-right: 1px dotted #CCCCCC;
    border-bottom: 1px dotted #CCCCCC;
    border-left: 1px dotted #CCCCCC;
}

IMG {
    border: 0px;
}

IMG.actionImg {
    margin-top: 9px;
    margin-bottom: 2px;
    float: none;
}
/* start input fields css*/
INPUT, SELECT {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    margin-bottom: -1px;
}

INPUT[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
}
/* INPUT[type="text"] {
 /width: 260px; /
 }*/
select {
    border-spacing: 0px;
    /*	width: 200px;*/
}

.ipfield {
    width: 26px;
}

td.DatablockLabel {
    text-align: left;
    width: 50%;
    white-space: nowrap;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
}

td.DatablockContent {
    /* width: 50%; */
    text-align: left;
    white-space: nowrap;
    padding: 2px 0px 3px 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
}

td.DatablockText {
    width: 1%;
    padding: 0px 0px 0px 10px;
}

div#BlockContentTable {
    border: 0px dotted #CCCCCC;
    vertical-align: top;
}

table#InnerBlockContent {
    border: 1px solid #CCCCCC;
    vertical-align: top;
}

Table.BlockContentTable {
    width: 100%;
    border: 1px solid #CCCCCC;
}

.Trans {
    background-color: #FFFFFF;
    padding-left: 0px;
}

.Gray {
    background-color: #F2F2F2;
    padding-left: 0px;
}

TABLE.BlockContentTable TD, TH {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    border: 0px solid #CCCCCC;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 20px;
    white-space: nowrap;
}

TABLE.BlockContentTable TD {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    color: #000000;
}

TABLE.BlockContentTable TH {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding: 0px 8px;
    border-spacing: 8px;
    background-color: #46008F;
}

TABLE.BlockContentTable TR.Alternate {
    background-color: #CCCCCC;
}

TABLE.BlockContentTable TD.Alternate {
    border: 0px solid #FFFFFF;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

TABLE.BlockContentTable TH.Alternate {
    background-color: #CCCCCC;
    border: 0px solid #FFFFFF;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

TABLE.BlockContentTable TH.Last {
    width: 100%;
}

TR.Alternate {
    background-color: #CCCCCC;
}

.button {
    text-align: center;
}
/* end input fields css*/
/* start rounded corners css*/
b.rtop, b.rbottom, b.rtopthird, b.rbottomthird, b.rbottomsub {
    display: block;
    height: 1%;
    background: transparent;
}

b.rtop * {
    display: inline-block;
    height: 1px;
    overflow: none;
    background: #FFFFFF;
}

b.rbottom * {
    display: block;
    height: 1px;
    overflow: hidden;
    background: #666F74;
}

b.rtopthird * {
    display: block;
    height: 1px;
    font-size: 2px;
    overflow: hidden;
    background: #f2f2f2;
}

b.rbottomthird * {
    display: block;
    height: 1px;
    font-size: 1px;
    overflow: hidden;
    background: #f2f2f2;
}

b.rbottomsub * {
    display: block;
    height: 1px;
    background: #46008F;
    font-weight: normal;
    overflow: hidden;
    font-size: 1px;
}

b.r1 {
    margin: 0 6px;
    height: 1px;
    font-size: 1px;
}

b.r2 {
    margin: 0 4px;
    height: 1px;
    font-size: 1px;
}

b.r3 {
    margin: 0 3px;
    height: 1px;
    font-size: 1px;
}

b.r4 {
    margin: 0 2px;
    height: 2px;
    font-size: 1px;
}

b.r5 {
    margin: 0 1px;
    height: 2px;
    font-size: 1px;
}

b.r6 {
    margin: 0 2px;
    height: 1px;
    font-size: 1px;
}

b.rl1 {
    margin: 0 0 0 5px;
    height: 1px;
    font-size: 1px;
}

b.rl2 {
    margin: 0 0 0 3px;
    height: 1px;
    font-size: 1px;
}

b.rl3 {
    margin: 0 0 0 2px;
    height: 1px;
    font-size: 1px;
}

b.rl4 {
    margin: 0 0 0 1px;
    height: 2px;
    font-size: 1px;
}

b.rr1 {
    margin: 0 5px 0 0;
    font-size: 1px;
}

b.rr2 {
    margin: 0 3px 0 0;
    font-size: 1px;
}

b.rr3 {
    margin: 0 2px 0 0;
    font-size: 1px;
}

b.rr4 {
    margin: 0 1px 0 0;
    height: 2px;
    font-size: 1px;
}
/* end rounded corners css*/
fieldset.Group2 {
    border: 1px dotted #FFFFFF;
    float: left;
    padding: 5px;
    margin-right: 5px;
}

fieldset.Group5 {
    border: 1px dotted #FFFFFF;
    float: left;
    padding: 5px;
}

.legend {
    color: #46008F;
    font-weight: bold;
}

.legend:hover {
    color: #46008F;
    text-decoration: underline;
    cursor: hand;
}

.legendActive {
    font-weight: bold;
}

div#helpbox {
    position: absolute;
    right: 100px;
    top: 150px;
    margin: 0px;
    height: 200px;
    width: 300px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: left;
}

div#helpcontent {
    text-align: left;
    height: 175px;
    overflow: auto;
    margin-left: 5px;
    padding-bottom: 5px;
}

span.Active span {
    display: none;
    position: absolute;
    border: 1px solid #cdcdcd;
    background-color: #FFFFFF;
    font-family: Verdana;
    font-weight: bold;
    color: #000000;
    padding: 5px;
    white-space: nowrap;
/*    top: expression((getposOffset(this.parentNode,"top") - 32 ) + "px" );
	left: expression((getposOffset(this.parentNode,"left")) + "px" );*/
}

span.Active:hover span {
    display: block;
}

.LV_validation_message {
    font-weight: bold;
    margin: 0 0 0 5px;
}

.LV_valid {
    color: #7C8994;
    padding: 2px;
}

.LV_invalid {
    color: #CC0000;
}

.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active {
    /*border: 1px solid #7C8994;
     padding: 2px;*/
}

.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
    background-color: #FFCCCC;
    /*	padding: 2px; */
}

#layeredWindow {
    margin: 0px 200px 0px 200px;
    text-align: center;
}

.modal_container {
    padding: 10px;
    background-color: transparent;
    text-align: left;
}

.modal_overlay {
    background-color: #000000;
}

.ProgressBar_overlay {
    background-color: #FFFFFF;
}

.ProgressBar_container {
    background-color: transparent;
}

.LayeredWin_container {
    padding: 10px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
	margin: auto;
	width: 50%;
}

.LayeredWin_overlay {
    background-color: #FFFFFF;
}

#layeredWinHeader {
    color: #46008F;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

#layeredWinBlockHeader {
    color: #46008F;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#layeredWinBlock {
    border: 1px dotted #CCCCCC;
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 5px;
}

#radioOn {
    display: none;
    position: absolute;
    border: 1px solid #CCCCCC;
    background-color: #D4FCA9;
    font-weight: bold;
    color: #000000;
    padding: 5px;
}

.RadioText {
    border: 0px solid #FFA400;
}

.RadioTextActive {
    border: 0px solid #FFA400;
}

.leftInside {
    background: url('../../images/background_inside_left.gif') repeat-y top left;
    width: 8px;
}

padding2Top {
    padding-top: 2px;
}

.topAlign {
    vertical-align: top;
}

.thardNavContainer {
    width: 144px;
}

.thardNavContainerTopLeftImg {
    background: url('../../images/left_nav_top_left.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerTopMiddleImg {
    background: url('../../images/left_nav_top_middle.gif') repeat-x top left;
}

.thardNavContainerTopRightImg {
    background: url('../../images/left_nav_top_right.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerSecondTopRightImg {
    background: url('../../images/left_nav_right_tile.gif') repeat-y top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerSecondTopLeftImg {
    background: url('../../images/left_nav_left_tile.gif') repeat-y top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerBottomLeftImg {
    background: url('../../images/left_nav_bottom_right.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.thardNavContainerBottomMiddleImg {
    background: url('../../images/left_nav_bottom_middle.gif') repeat-x top left;
}

.thardNavContainerBottomRightImg {
    background: url('../../images/left_nav_bottom_left.gif') no-repeat top left;
    height: 5px;
    width: 5px;
}

.leftNavBg {
    background-color: #D9D9D9;
}

.topAlign {
    vertical-align: top;
}

.padding1Top {
    padding-top: 1px;
}

.spacer10Percent {
    width: 10%;
}

.spacer90Percent {
    width: 90%;
}

.spacer100Percent {
    width: 100%;
}

.leftNavArrowCell {
    padding: 0px 2px 2px 2px;
}

.fourthLevelItem {
    text-indent: -10px;
    _text-indent: -26px;
    padding-left: 10px;
    padding-top: 3px;
    list-style-type: none;
    font-weight: normal;
    text-align: left;
}

.subSectionTabTopLeft {
    background: url('../../images/sub_section_grey_tab_top_left.gif') no-repeat top left;
    height: 20px;
    padding: 0px 0px 0px 23px;
    vertical-align: top;
    font-size: 1px;
}

.subSectionTabTopRight {
    background: url('../../images/sub_section_grey_tab_top_right.gif') no-repeat top right;
    padding: 4px 4px 4px 0px;
    height: 20px;
    vertical-align: middle;
    text-align: right;
    font-size: 1px;
}

.subSectionTabTopShadow {
    background: url('../../images/sub_section_grey_tab_shadow.gif') repeat-x top left;
    font-size: 1px;
    height: 1px;
    vertical-align: top;
}

.subSectionBodyDot {
    background: url('../../images/sub_section_dots.gif') repeat-y top left;
    font-size: 1px;
}

.subSectionBodyDotRight {
    background: url('../../images/sub_section_dots.gif') repeat-y top right;
    font-size: 1px;
}

.subSectionBodyWide {
    background: url('../../images/sub_section_side_dots_wide.gif') repeat-y top left;
    padding: 0px;
}

.subSectionBottom {
    background: url('../../images/sub_section_bottom_dots.gif') repeat-x top left;
    height: 2px;
    font-size: 1px;
}

.spacer80Percent {
    width: 80%;
}

.spacer20Percent {
    width: 20%;
}

.font12BoldBlue {
    font-size: 12px;
    font-weight: bold;
    color: #46008F;
}

.borderClass {
	border: 1px solid #FF0000;
}

.padAll {
	padding: 3px;
}

.noPadLeft {
	padding-left: 0px;
}

.noPadRight {
	padding-right: 0px;
}

.fourthLevelLink {
	padding: 2px;
    font-weight: normal;
    text-align: left;
}

#fourthLevelLink {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #46008f;
	padding: 2px;
    font-weight: normal;
    text-align: left;
}

.nBlue {
	color: #46008F;
}

.nOrange {
	color: #FFA400;
}
.transparent {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.5;
	opacity: 0.6;
}