/* From Trendnet css style */
html {
	overflow:-moz-scrollbars-vertical;overflow-y:scroll;
}
html, body, pre, xmp, code {
	margin:0px;
	padding:0px;
	font: normal 14px verdana,arial,sans-serif;
	color: #EEE;
	
	
}
table {
	border-collapse: collapse;
}

tr, td
{
/*	vertical-align: top;*/
}

p{line-height:1.5em;}

img {
	border: 0px;
}

.box_tn table{
border-spacing: 1px;
}
a { text-decoration: none; }
a.normal{color: #ffffff;}
a.normal:visited{color: #ffffff;}
a.normal:active{color: #00aff0;}
a.normal:hover{color: #00aff0;}
	
HR {padding: 5px; size: 1px; color: #7E91A2}
form {margin: 0px;}

.headerbg{
  	font: bold 24px verdana,arial,sans-serif;
	color: #EEE;
	 padding:8px 0px 8px 0px;
}

.textheader{
	font-family:Arial, Helvetica, sans-serif;
	white-space: nowrap;
	font-size:20px;
	font-weight:bolder;
	text-indent: 3px;
	color: #FFFFFF;
}

.ButtonHelp{
	background-color: #666666;
    font: bold 11px verdana,sans-serif;
    color:#FFFFFF; 
	border:1px outset  #666666;
    border-color:#FFFFFF #555555 #666666 #CCCCCC;
	background-image: url("bg_button_help.gif");
    margin:3px;
	width:100px; 
	height:25px;
	cursor: pointer;
}
.tabBigTitle{
width: 100%;
background: #FFFFFF;
box-sizing: border-box;
-moz-box-sizing: border-box;
border: 1px solid #000000;
}

.formarea
{
	/* padding: 5px 5px 5px 5px; */
	width: 100%;
}

.formarea a:link
{
	color: #ffffff;
	background-color: transparent;
	font-size: 11px;
	text-decoration: none;
}

.formarea a:visited
{
	color: #ffffff;
	background-color: transparent;
	font-size: 11px;
	text-decoration: none;
}

.formarea a:active
{
	color: #ffffff;
	background-color: transparent;
	font-size: 11px;
	text-decoration: none;
}

.formarea a:hover
{
	color: #00aff0;
	font-size: 11px;
	text-decoration: underline;
}

.formarea .form_list_title
{
	font-weight: bold;
	text-align: center;
	background-color: #C5CEDA;
	vertical-align: middle;
}

.ButtonSmall, .button_submit{
	color:#FFF;
	font:normal 16px tahoma,arial,sans-serif;
	padding:3px 8px 6px 8px;
	background:  #00aff0 url('/image/overlay.png') repeat-x center left;
	border:1px solid #63cef6;
	-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	border-bottom:1px solid #63cef6;
	-moz-box-shadow:inset 0 1px 0 rgba(22,142,199,0.5);-webkit-box-shadow:inset 0 0 0 rgba(22,142,199,0.5);box-shadow:inset 0 0 0 rgba(22,142,199,0.5);
	cursor:pointer;
	height:30px;
	min-width:100px;
	width:100px;
	margin:10px 20px 20px 0px;
}

.ButtonSmall:hover, .button_submit:hover{
	color:#FFF;
	background: #00aff0 url('/image/but_mouseover.png') repeat-x top center ;
	border:1px solid #3e97ce;
	}

.ButtonSmall:active, .button_submit:hover{
	position:relative;top:0px;border:1px solid #3e97ce;
	background: #00aff0 url('/image/but_mouseover2.png') repeat-x top center ;
	color:#FFF;
}

.ButtonSmall[disabled], .button_submit[disabled] {
	color:#666666;
}
.ButtonSmall[disabled]:hover, .button_submit[disabled]:hover {
	color:#666666;
}

.ButtonSmall.loginBtn{
	width: auto !important;
}

.button_inbox {
}

.headerwizard{
	background-image: url("bg_button2.gif");
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	height: 28px;
	text-indent: 5px;
	margin-top: 0px;
	padding: 5px;
	vertical-align: top;
}

#maincontent
{
	padding: 15px 15px 15px 15px;
}

.formarea td
{
	/*background-color: #E1E6EC;*/
	padding: 5px 5px 5px 5px;
}

.header_desc {
	line-height:1.5em;
}
.box_tn
{
/*	margin: 5px 20px 0px 0px;*/
margin-top: 20px;
}

.bottom_padding
{
	padding:0px 0px 25px 0px;
}

dt
{
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 5px 5px 5px;
}

dd
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 5px 5px 5px;
}

dd p
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.wizleft{
	font-weight: bold;
	width: 120px;
	text-align: right;
	white-space: nowrap;
	}
.wizright{
	width: 80%;
	text-align: left;
	}
.btn_field {
 text-align:left;
 background-color: #4f5158;
}