	<tr>
		<td>	
			<table class="tableStyle">
				<tr>
					<td colspan="3"><script>tbhdr('General','generalSettings')</script></td>
				</tr>
				<tr>
					<td class="subSectionBodyDot">&nbsp;</td>
					<td class="spacer100Percent paddingsubSectionBody">
						<table class="tableStyle">							{assign var="cloudStatus" value=$data.basicSettings.cloudStatus}							{input_row label="Cloud Enabled" id="enableMode" name="parentStr[basicSettings][cloudStatus]" type="radio" options="1-Yes,0-No" selectCondition="==$cloudStatus" onclick="grayOutForCloud(this);"}												{if $data.basicSettings.cloudStatus}						{if $data.basicSettings.cloudConnectivityStatus}						{input_row label="Cloud Activation Status" id="enableCloud" name="parentStr[basicSettings][cloudConnectivityStatus]" type="text" class ="input" disabled="true" value="Activated"}						{else}						{input_row label="Cloud Activation Status" id="enableCloud" name="parentStr[basicSettings][cloudConnectivityStatus]" type="text" class ="input" disabled="true" value="Pending"}						{/if}													{assign var="connectionStatus" value=explode(' ',exec("grep opswat.connection_state: /var/pal.cfg"))}														{if $connectionStatus[1] eq 'disconnected' || $connectionStatus[1] eq ''}							{input_row label="Cloud Connectivity Status" id="connStatus" name="connStatus" type="text" class ="input" disabled="true" value="Disconnected"}							{else}							{input_row label="Cloud Connectivity Status" id="connStatus" name="connStatus" type="text" class ="input" disabled="true" value="Connected"}							{/if}							<td id="cloudLink" class="font10Bold padding4Top" style="text-align: left;"><a href="http://wireless.netgear.com" target="_blank">Click here to open Cloud Management</td>								{/if}						<tr>							<td class="spacerHeight21"></td>						</tr>						<textarea name="activewin" id="activewin" class="smallfix2" cols="50" rows="4" wrap="on" readonly="readonly">NOTE: If Cloud Enabled is set to Yes, this Access Point will periodically attempt to contact NETGEAR Cloud Wireless Server to check if this Access Point has been registered for cloud management.</textarea>						
						</table>
					</td>
					<td class="subSectionBodyDotRight">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" class="subSectionBottom"></td>
				</tr>
			</table>
		</td>
	</tr><tr>	<td class="spacerHeight21"></td></tr>	<tr>		<td>			<table class="tableStyle">				<tr>					<td colspan="3"><script>tbhdr('Access Point Information','accessPointInformation')</script></td>				</tr>				<tr>					<td class="subSectionBodyDot">&nbsp;</td>					<td class="spacer100Percent paddingsubSectionBody">						<table class="tableStyle">							<tr>								<td class="DatablockLabel">Access Point Name</td>								<td class="DatablockContent">{$data.basicSettings.apName}</td>							</tr>							<tr>								<td class="DatablockLabel">Ethernet MAC Address</td>								<td class="DatablockContent">{$data.monitor.ethernetMacAddress|replace:"-":":"}</td>							</tr>							{if NOT $config.DUAL_CONCURRENT.status}							<tr>								<td class="DatablockLabel">Wireless MAC Address</td>                                {if $config.TWOGHZ.status AND $data.radioStatus0 eq '1'}                                    <td class="DatablockContent">{$data.monitor.macAddress.wlan0|replace:"-":":"}</td>                                {/if}<!--@@@FIVEGHZSTART@@@-->                                {if $config.FIVEGHZ.status AND $data.radioStatus1 eq '1'}                                    <td class="DatablockContent">{$data.monitor.macAddress.wlan1|replace:"-":":"}</td>                                {/if}<!--@@@FIVEGHZEND@@@-->							</tr><!--@@@DUAL_CONCURRENTSTART@@@-->							{else}							{if $config.TWOGHZ.status}							<tr>								<td class="DatablockLabel">Wireless MAC Address for 2.4GHz</td>								<td class="DatablockContent">{$data.monitor.macAddress.wlan0|replace:"-":":"}</td>							</tr>							{/if}<!--@@@FIVEGHZSTART@@@-->							{if $config.FIVEGHZ.status}							<tr>								<td class="DatablockLabel">Wireless MAC Address for 5GHz</td>								<td class="DatablockContent">{$data.monitor.macAddress.wlan1|replace:"-":":"}</td>							</tr>							{/if}<!--@@@FIVEGHZEND@@@--><!--@@@DUAL_CONCURRENTEND@@@-->							{/if}							{if ($data.wlanSettings.wlanSettingTable.wlan0.apMode neq 5) && ($config.ARADA_LLDP.status) }							<tr>								<td class="DatablockLabel">Ethernet LLDP</td>								<td class="DatablockContent">{if $data.basicSettings.lldpStatus eq 0}Disabled{else}Enabled{/if}</td>							</tr>							{/if}							{if $config.BAND_STEERING.status}							<tr>								<td class="DatablockLabel">Band Steering to 5GHz </td>								<td class="DatablockContent">{if $data.wlanSettings.wlanSettingTable.wlan0.bandSteeringStatus eq 0}Disabled{else}Enabled{/if}</td>							</tr>														{/if}							<tr>								<td class="DatablockLabel">Country / Region</td>								<td class="DatablockContent">{php}echo $this->_tpl_vars[countryList][$this->_tpl_vars[data][basicSettings][sysCountryRegion]];{/php}</td>							</tr>							<tr>								<td class="DatablockLabel">Firmware Version</td>								<td class="DatablockContent">{$data.monitor.sysVersion}</td>							</tr>							<tr>                              <td class="DatablockLabel">Serial Number</td>							  <td class="DatablockContent">							  {php}							  $confdEnable = true;							  if ($confdEnable) 							  {								  if ($productId == "WN604")								  {									$serno=exec("printmd /dev/mtd5 | grep serno");									$serno = explode("=", $serno);									$serno = trim($serno[1]," ");									if($serno!="" && $serno!=" " && $serno!=null && $serno!=undefined && (!preg_match('#[^a-zA-Z0-9]#', $serno)) && (strlen($serno)=="13") )									  {									echo $serno;																	}								  }								  else								  {								  $this->assign('SerialNo', $this->_tpl_vars['data']['monitor']['sysSerialNumber']);								  if($this->_tpl_vars['SerialNo']!="" && $this->_tpl_vars['SerialNo']!=" " && $this->_tpl_vars['SerialNo']!=null && 									 $this->_tpl_vars['SerialNo']!=undefined && (!preg_match('#[^a-zA-Z0-9]#', $this->_tpl_vars['SerialNo'])) && 									 (strlen($this->_tpl_vars['SerialNo'])=="13") )									  {									  echo ($this->_tpl_vars['SerialNo']);									  }								  }								}							  {/php}							  </td>                            </tr>							<tr>								<td class="DatablockLabel" >Current Time</td>								<td class="DatablockContent">{php} echo `/usr/local/bin/date.sh `;{/php}</td>							</tr>						</table>					</td>					<td class="subSectionBodyDotRight">&nbsp;</td>				</tr>				<tr>					<td colspan="3" class="subSectionBottom">&nbsp;</td>				</tr>			</table>		</td>	</tr>
